body {
  background-image: url("../images/water.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 20px;
}

#sales-page {
  /* padding: 20px; */
  background-image: url("../images/wood.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.topnav {
  padding: 30px;
  width: 100%;
  position: fixed;
  top: 0px;
  margin-right: auto;
  margin-left: auto;
}

nav div {
  width: 400px;
  margin-right: auto;
  margin-left: auto;
}

.topnav a {
  float: right;
  font-family: 'Philosopher', sans-serif;
  text-decoration: none;
  font-size: 20px;
  margin-right: 40px;
  color: white;
  transition: color 500ms, font-size 300ms;
  transition-delay: 400ms;
}

.topnav a:hover {
  color: green;
  font-size: 30px;
}

div h1 {
  font-family: 'Cookie', cursive;
  font-size: 5em;
  color: #96513D;
  /* display: inline-block; */
}

#logo {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#logo img {
  width: 100%;
  margin-top: 100px;
}

main p {
  font-family: 'Marcellus', serif;
  font-size: 20px;
  margin: 100px;
  color: white;
  /* line-height: 30px; */
}

.shop {
  font-size: 1.5em;
  padding: 5px 0 5px 0;
}

#table-section {
  overflow-x: auto;
}

table {
  width: 100%;
}
tr:nth-child(even) {
  background-color: #B2C7A3;
}

thead {
  font-weight: bold;
}

td {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}

td:first-child {  
  text-align: left;
  font-weight: bold;
}

form {
  margin-top: 30px;
}

tfoot:last-child {
  background-color: #F7DC38;
}