body {
  padding: 30px;
  background-image: url("../images/water.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Marcellus, serif;
}

#sales-page {
  /* padding: 20px; */
  background-image: url("../images/wood.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
 
#sales-table {
  background-color: #EAF9DB;
}

.topnav div {
  width: 400px;
  margin-right: auto;
  margin-left: auto;
}

.salesnav div {
  width: 500px;
}

.salesnav div h1 {
  color: #432011;
}

.topnav {
  width: 100%;
  position: fixed;
  top: 0px;
  margin-right: auto;
  margin-left: auto;
  padding: 30px;
}

main {
  display: block;
}

main h1 {
  font-size: 35px;
  color: white;
  padding-bottom: 10px;
}

main p {
  font-family: Marcellus, serif;
  font-size: 20px;
  color: white;
  margin: 100px;
}

.topnav a {
  float: right;
  font-family: Philosopher, sans-serif;
  font-size: 20px;
  margin-right: 40px;
  color: white;
  text-decoration: none;
  transition: color 500ms ease 400ms, font-size 300ms ease;
}

.topnav a:hover {
  color: green;
  font-size: 30px;
}

header h1:hover {
  color: white;
}

div h1 {
  font-family: Cookie, cursive;
  font-size: 4em;
  color: #96513D;
}

.shop {
  font-size: 1.5em;
  padding: 5px 0 5px 0;
}

#logo {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#logo img {
  width: 100%;
  margin-top: 100px;
}

#table-section {
  overflow-x: auto;
}

table {
  width: 100%;
}
tr:nth-child(even) {
  background-color: #B2C7A3;
}

thead {
  font-weight: bold;
  background-color: #B2C7A3;
}

td {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}

td:first-child {  
  text-align: left;
  font-weight: bold;
}

form {
  margin-top: 30px;
  line-height: 30px;
  background-color: #F6DA4A;
  padding: 20px;
  width: 450px;;
}

tfoot:last-child {
  background-color: #F7DC38;
}

legend {
  font-size: 30px;
  padding-bottom: 10px;
}

table {
  line-height: 25px;
}